<div class="clouds-div">
  <div class="cloud cloud-1" style="--i: 1">
    <img src="./images/cloud1.png" />
  </div>
  <div class="cloud cloud-2" style="--i: 2">
    <img src="./images/cloud3.png" />
  </div>
</div>
<div class="clouds-div">
  <div class="cloud cloud-3" style="--i: 3">
    <img src="./images/cloud2.png" />
  </div>
  <div class="cloud cloud-4" style="--i: 4">
    <img src="./images/cloud3.png" />
  </div>
</div>
<div class="clouds-div">
  <div class="cloud cloud-5" style="--i: 5">
    <img src="./images/cloud1.png" />
  </div>
  <div class="cloud cloud-6" style="--i: 6">
    <img src="./images/cloud2.png" />
  </div>
</div>
<div class="clouds-div">
  <div class="cloud cloud-5" style="--i: 5">
    <img src="./images/cloud3.png" />
  </div>
  <div class="cloud cloud-6" style="--i: 6">
    <img src="./images/cloud1.png" />
  </div>
</div>
